.comment-container{
    background-color: #212842;
    border-radius: 24px;
    padding: 24px;
    color: #f0e7d5;
}

.comment-container .comment-infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comment-container .comment-author{
    display: flex;
    align-items: center;
    gap: 8px;
}