* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: geist, sans-serif;
    background-color: #f0e7d5;
    color: #212842;
}

.loading-container {
    position: fixed;
    inset: 0;
    /* top:0; right:0; bottom:0; left:0; */
    display: grid;
    place-items: center;
    z-index: 9999;
    /* garante estar acima do resto */
    pointer-events: auto;
    /* bloqueia interação com a página enquanto carrega */
}

.loader {
    position: relative;
    width: 70px;
    height: 70px;
}

.loader-large {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #42518a;
    border-radius: 10px;
    animation: loading 2s infinite;
}

.loader-small {
    position: absolute;
    width: 50%;
    height: 50%;
    inset: 0;
    margin: auto;
    background-color: #212842;
    z-index: 2;
    border-radius: 6px;
    animation: loading 2s infinite reverse;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateX(180deg);
    }
}