.homepage {
    max-width: 900px;
    margin: 0 auto;
}

.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 20px;
    width: 100%;
    margin-top: 24px;
    padding-inline: 16px;
}

.search-section .address {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    padding: 4px 8px;

    gap: 8px;
    font-size: 10pt;
    font-weight: 500;

    background-color: #212842;
    color: #f0e7d5;
    border-radius: 20px;

}

.search-section .search {
    padding: 10px;
    width: 100%;
    max-width: 700px;
    height: 45px;
    border-radius: 20px;
    padding: 5px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    border: 3px solid #212842;
    /* box-shadow: 0 0 10px 0 #f0e7d573; */
}

.search-section .icon {
    width: 30px;
    fill: #00000022;
    margin-left: 8px;
    transition: all 0.3s;
}

.search-section .input {
    width: 100%;
    min-width: 200px;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 15px;
    background-color: transparent;
    color: #212842;
    font-size: 1em;
}

.search-section .input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f0e7d5 inset;
    -webkit-text-fill-color: #ffffff;
}

.search-section .search-btn {
    height: 100%;
    width: 95px;
    border: none;
    border-radius: 15px;
    color: #000000;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 12pt;
    border: 2px solid #000000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s;
}

.search-section .arrow {
    /* display: none; */
    position: absolute;
    margin-right: 150px;
    transition: all 0.3s;
}

.search-section .search:active .icon {
    transform: scale(1.3);
}

.search-section .search-btn:hover {
    color: white;
}

.search-section .search-btn:hover .arrow {
    margin-right: 0;
    animation: jello-vertical 0.9s both;
    transform-origin: right;
}

.restaurants-list {
    margin-top: 40px;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.search-btn:active {
    transform: scale(0.9);
}