#profile {
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto 40px;
    padding: 16px;
    display: flex;
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.profile-form .profile-input {
    padding: 2px;
    width: 100%;
    
    height: 40px;
    border-radius: 20px;
    padding: 5px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    border: 3px solid #212842;
    margin-bottom: 6px;
}

.profile-form .icon {
    width: 30px;
    margin-left: 8px;
    transition: all 0.3s;
}

.profile-form .input {
    width: 100%;
    min-width: 200px;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 15px;
    background-color: transparent;
    color: #212842;
    font-size: 1em;
}

.profile-form .input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f0e7d5 inset;
    -webkit-text-fill-color: #ffffff;
}

.profile-form .profile-input:active .icon {
    transform: scale(1.3);
}

.profile-form .register-button {
    border: none;
    width: 30em;
    height: 5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
}

.profile-form .register-button {
    margin-top: 42px;
    fill: #AAAAAA;
    transition: all 800ms ease;
}

.profile-form .text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
}

.profile-form .register-button:hover {
    background: linear-gradient(0deg, #212842, #3b4a7a);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
        inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
        0px 0px 0px 4px rgba(255, 255, 255, 0.2),
        0px 0px 40px 0px #212842;
    transform: translateY(-2px);
}

.profile-form .register-button:hover .text {
    color: white;
}

.profile-form .signup-link p{
    margin-top: 32px;
    font-size: 10pt;
    color: #212842;

    & a {
        color: #3b4a7a;
        font-weight: 600;
        margin-left: 4px;
        transition: all 0.3s;
    }

    & a:hover {
        color: #6079c9;
    }
}