a{
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

.card-container {
    border: 4px solid #212842;
    box-shadow: 8px 8px 0px #212842;
    background: black;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    margin: 38px 20px 20px 20px;
}

.card-header {
    background: #f0e7d5;
    color: white;
    padding: 24px 20px;
    position: relative;
}

.header-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
}


.restaurant-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 6px;
    letter-spacing: -0.5px;
    color: #212842;
}

.handle {
    font-size: 16px;
    opacity: 0.9;
    font-weight: 400;
    color: #212842;
    display: flex;
}

.handle-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;

    & div, a{
        cursor: pointer;
        background: #212842;
        color: #f0e7d5;
        padding: 4px 8px;
        border-radius: 50%;
        
        & svg{
            margin-top: 3px;
        }
    }
}

.card-stats {
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
    background: #212842;
}

.stat {
    text-align: center;
    flex: 1;
    padding: 0 8px;
}

.stat-number {
    font-size: 20px;
    font-weight: bold;
    color: #f0e7d5;
    margin-bottom: 6px;
    line-height: 1;
}

.stat-label {
    font-size: 13px;
    color: #f0e7d58c;
    font-weight: 500;
    text-transform: capitalize;
}

.stat:not(:last-child) {
    border-right: 1px solid #e1e8ed;
}

.card-container:hover {
    transform: translate(-2px, -2px);
    box-shadow: 10px 10px 0px #212842;
    transition: all 0.2s ease;
}

@media (max-width: 480px) {
    .card-container {
        box-shadow: 6px 6px 0px #000;
    }

    .card-container:hover {
        box-shadow: 8px 8px 0px #000;
    }

    .stat-number {
        font-size: 18px;
    }

    .stat-label {
        font-size: 12px;
    }
}