@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;

    margin: 20px 0px 3rem 0px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: 'Marck Script', cursive;
    font-size: 35pt;
    font-weight: 700;
    color: #212842;

    & div {
        margin-top: 8px;
    }
}


.user-area, .admin-area {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;
    cursor: pointer;
    background-color: #212842;
    color: #f0e7d5;
    font-size: 12pt;
    border: none;
    transition: 0.3s;
    padding: 6px 12px;
    border-radius: 24px;
    text-decoration: none;

    &:hover {
        scale: 1.025;
    }

    & div {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.admin-area {
    border-radius: 32px;
    padding: 5px 7px;
}

.admin-badge {
  position: absolute;
    top: -10px;
    right: -14px;
  background: #f44336;
  color: #fff;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 0.7rem;
  font-weight: bold;
  min-width: 18px;
  text-align: center;
  line-height: 1;
  z-index: 1;
}

.admin-icon-container {
  position: relative;
  display: inline-block;
}

.admin-icon-container:hover {
  scale: 1.025;
}

.user-area a, .admin-area a {
    color: #f0e7d5;
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-area a:visited, .admin-area a:visited {
    color: #f0e7d5;
}

.logged-in {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logged-in .logout-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;
    background-color: #212842;
    border: none;
    color: #f0e7d5;
    font-size: 12pt;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    padding: 8px;
    border-radius: 24px;

    &:hover {
        scale: 1.05;
    }
}